<div class=" row d-flex justify-content-center mb-2">
  <%= render partial: "layouts/sort", locals: { form_url: admin_sneakers_path } %>
</div>

<div class="row">
  <%= render partial: "shared/brand_list", locals: { 
      sneaker_brands: @sneaker_brands, 
      brand_path: ->(brand) { admin_sneaker_brand_path(brand.id) }, 
      brands_index_path: admin_sneaker_brands_path 
    } %>

  <div class="col-md-2">
  </div>

  <div class="col-md-8">
    <div class="row">
      <h2>スニーカー一覧</h2>
    </div>
    <div class="row">
      <ul style="list-style:none;">
        <%= render partial: "shared/sneaker_card", collection: @sneakers, as: :sneaker %>
      </ul>
    </div>
  </div>

</div>

