<h1 class='text-center mb-4'>ブランド一覧</h1>

<div class='d-flex flex-wrap justify-content-center gap-4'>
  <% @sneaker_brands.each do |sneaker_brand| %>
    <div>
      <%= link_to sneaker_brand.name, admin_sneaker_brand_path(sneaker_brand.id), class: 'btn btn-outline-secondary mb-2' %>
      <div>
        <%= link_to '編集', edit_admin_sneaker_brand_path(sneaker_brand.id), class: 'text-decoration-none btn btn-primary' %>
      </div>
    </div>
  <% end %>
</div>