<% if @model == 'sneaker' %>

  <div class="col-md-8">
    <div class="row">
      <h2>Customers search for "<%= @content %>"</h2>
    </div>
    <div class="row">
      <ul style="list-style:none;">
        <% @records.each do |record| %>
          <li>
            <%= image_tag record.get_image(100, 100) %>
            <p>スニーカー名:<%= link_to sneaker_path(record.id) do %><%= record.sneaker_name_en %><% end %></p>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>