<div class="container d-flex flex-column">

  <div class="row mx-auto">
    <div class="col"><h1><strong>ようこそスニーカー図鑑へ！</strong></h1></div>
  </div>
  <div class="row mx-auto">
    <div class="col"><p>スニーカー好きが作るスニーカー好きのための大図鑑</p></div>
  </div>

  <%= link_to new_customer_session_path do %>
    <div class="row d-grid mb-2">
      <div class="col btn btn-info">
        <sapn>Log in</span>
      </div>
    </div>
  <% end %>
  <%= link_to new_customer_registration_path do %>
    <div class="row d-grid">
      <div class="col btn btn-success">
        <span>Sign in</span>
      </div>
    </div>
  <% end %>

</div>
