<% if @sneaker.favorited_by?(current_customer) %>
  <p>
  <%= link_to sneaker_favorite_path(@sneaker), method: :delete, remote: true do %>
    ❤︎<%= @sneaker.favorites.count %> いいね
  <% end %>
  </p>
<% else %>
  <p>
  <%= link_to sneaker_favorite_path(@sneaker), method: :post, remote: true do %>
    ♡<%= @sneaker.favorites.count %>いいね
  <% end %>
  </p>
<% end %>