<h1>未読のお問い合わせ</h1>
<table>
  <thead>
    <tr>
      <th>ID</th><th>名前</th><th>件名</th><th>送信日時</th><th>詳細</th><th>削除</th>
    </tr>
  </thead>
  <tbody>
    <% @unread_contacts.each do |c| %>
      <%= render partial: 'contact_row', locals: { contact: c } %>
    <% end %>
    <% if @unread_contacts.empty? %>
      <tr><td colspan="6">未読はありません</td></tr>
    <% end %>
  </tbody>
</table>

<hr>

<h1>すべてのお問い合わせ</h1>
<table>
  <thead>
    <tr>
      <th>ID</th><th>名前</th><th>件名</th><th>送信日時</th><th>詳細</th><th>削除</th>
    </tr>
  </thead>
  <tbody>
    <% @contacts.each do |c| %>
      <%= render partial: 'contact_row', locals: { contact: c } %>
    <% end %>
  </tbody>
</table>