<h1 class='text-center mb-4'>ブランド一覧</h1>

<div class='d-flex flex-wrap justify-content-center gap-2'>
  <% @sneaker_brands.each do |sneaker_brand| %>
    <%= link_to sneaker_brand.name, sneaker_brand_path(sneaker_brand.id), class: 'btn btn-outline-secondary' %>
  <% end %>
</div>