<h1>スニーカーモデル投稿フォーム</h1>
<%= form_with model: @sneaker_type do |f| %>
  <h3>スニーカーモデル名</h3>
  <%= f.text_field :sneaker_type_name %>
  <h3>概要</h3>
  <%= f.text_area :overview %>
  <%= f.submit '投稿' %>
<% end %>
